@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");



.page-login {
    background: #000;
}

.page-login::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: url("../assets/images/bg_login.jpg");
    background-position: center;
}


.page-login .form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 550px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .75);
}

.page-login .form-wrapper h2 {
    color: #fff;
    font-size: 2rem;
}

.page-login .form-wrapper form {
    margin: 25px 0 65px;
}

.page-login .form-wrapper form .form-control {
    height: 50px;
    position: relative;
    margin-bottom: 16px;
}

.page-login .form-wrapper form .form-control  input {
    height: 100%;
    width: 100%;
    background: #333 !important;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    padding: 0 20px;
}

.page-login .form-wrapper form .form-control input:is(:focus, :valid) {
    background: #444;
    padding: 16px 20px 0;
}

.page-login .form-wrapper form .form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #8c8c8c;
    transition: all 0.1s ease;
}

.page-login .form-wrapper form .form-control input:is(:focus, :valid)~label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}

.page-login .form-wrapper form button {
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    background: #e50914;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

.page-login .form-wrapper form button:hover {
    background: #c40812;
}

.page-login .form-wrapper a {
    text-decoration: none;
}

.page-login .form-wrapper a:hover {
    text-decoration: underline;
}

.page-login .form-wrapper :where(label, p, small, a) {
    color: #b3b3b3;
}

.page-login .form-wrapper form .form-help {
    display: flex;
    justify-content: space-between;
}

.page-login .form-wrapper form .remember-me {
    display: flex;
}

.page-login .form-wrapper form .remember-me input {
    margin-right: 5px;
    accent-color: #b3b3b3;
}

.page-login .form-wrapper form .form-help :where(label, a) {
    font-size: 0.9rem;
}

.page-login .form-wrapper p a {
    color: #fff;
}

.page-login .form-wrapper small {
    display: block;
    margin-top: 15px;
    color: #b3b3b3;
}

.page-login .form-wrapper small a {
    color: #0071eb;
}

@media (max-width: 740px) {
    body::before {
        display: none;
    }

    .page-login .form-wrapper {
        padding: 20px;
    }

    .page-login .form-wrapper {
        width: 100%;
        top: 43%;
    }

    .page-login .form-wrapper form {
        margin: 25px 0 40px;
    }
}