/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar{
      width: 60px;
    }
    .sidebar.active{
      width: 220px;
    }
    .home-section{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidebar.active ~ .home-section{
      left: 220px;
      width: calc(100% - 220px);
      overflow: hidden;
    }
    .home-section .header-nav{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidebar.active ~ .home-section .header-nav{
      width: calc(100% - 220px);
      left: 220px;
    }
  }
  @media (max-width: 1150px) {
    .home-content .sales-boxes{
      flex-direction: column;
    }
    .home-content .sales-boxes .box{
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales{
      margin: 0;
    }
  }
  @media (max-width: 1000px) {
    .overview-boxes .box{
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }
  @media (max-width: 700px) {
    .header-nav .sidebar-button .dashboard,
    .header-nav .profile-details .admin_name,
    .header-nav .profile-details i{
      display: none;
    }
    .home-section .header-nav .profile-details{
      height: 50px;
      min-width: 40px;
    }
    .home-content .sales-boxes .sales-details{
      width: 560px;
    }
  }
  @media (max-width: 550px) {
    .overview-boxes .box{
      width: 100%;
      margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section .header-nav .profile-details{
      display: none;
    }
  }
  @media (max-width: 400px) {
    .sidebar{
      width: 0;
    }
    .sidebar.active{
      width: 60px;
    }
    .home-section{
      width: 100%;
      left: 0;
    }
    .sidebar.active ~ .home-section{
      left: 60px;
      width: calc(100% - 60px);
    }
    .home-section .header-nav{
      width: 100%;
      left: 0;
    }
    .sidebar.active ~ .home-section .header-nav{
      left: 60px;
      width: calc(100% - 60px);
    }
  }
  
